@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: #f5f8ff;
}

/* Shared style  */
.text-p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
/* Navbar Styles */
.navbar {
    padding: 20px 0;
    gap: auto;
}

.navbar .container {
    max-width: 1140px;
    margin: auto;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 135px;
    height: 82px;
}

.nav-item,
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #8987a1;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a.active {
    color: #252432;
    font-weight: 700;
}

.nav-links a:hover {
    color: #000000;
}

.cart {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.cart-icon {
    font-size: 20px;
}

/* Banner Section */

.banner .container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-text {
    flex: 1;
    padding-top: 162px;
}

.banner-text h1 {
    font-size: 65px;
    line-height: 1.3;
    color: #000000;
}

.banner-text .highlight {
    color: #e95a08;
}

.banner-image {
    flex: 1;
    text-align: right;
    padding-top: 100px;
}

.banner-image img {
    max-width: 100%;
    height: auto;
}
/* Plants Section */
.plants-section {
    max-width: 1140px;
    padding: 60px 20px;
    text-align: center;
    margin: 0 auto;
}

.section-title {
    font-size: 50px;
    margin-bottom: 16px;
    color: #000000;
}
.section-title .highlight {
    color: #e95a08;
}

.plants-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plant-card {
    background-color: whitesmoke;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.plant-card:hover {
    transform: translateY(-5px);
}

.plant-card img {
    max-width: 100%;
    height: auto;
}

.plant-card h4 {
    font-size: 22px;
    margin: 10px 0 5px;
    color: #111111;
}

.plant-card p {
    font-size: 16px;
    color: #111111;
}

.plant-card button {
    padding: 10px 40px;
    background-color: #e95a08;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 576px) {
    .nav-links {
        display: none;
    }
    .logo img {
        width: 63px;
        height: 38px;
    }
    .banner .container {
        flex-direction: column-reverse;
    }
    .banner-text,
    .banner-text h1 {
        text-align: left;
        padding-top: 0;
        width: 360px;
        font-size: 24px;
    }

    .banner-image {
        text-align: center;
    }
    .plants-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
